on post-fs-data
    # Create an additional OTA package directory that unlike /data/ota_package
    # will not be touched by GmsCore.
    mkdir /data/yaap-ota 0770 system cache
    mkdir /data/yaap-ota 0770 system cache encryption=Require
